@{
    ViewData["Title"] = "Sobre nós";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<img src="~/images/chefe1_teste2.jpg" alt="^Chefe" />
<br />
<br />
<p>Aqui você pode compartilhar sua receita preferida e também conhecer receitas novas.</p>
<p>Divulgue nosso site!!! Assim teremos uma variedade maior de receitas.</p>
