@model ConsultaViewModel
@{
    ViewData["Title"] = "Consulte Receitas";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<div class="container">
    <ul>
        <li style="list-style-type:square">@Html.DisplayNameFor(m => m.Titulo)</li>

    </ul>
</div>