@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<img src="~/images/chef_cartoon.jpg" alt="Alternate Text" />

<address>
    Master Chef Ltda<br />
    Avenida das Nações Unicas, 14001<br />
    <abbr title="Telefone">Telefone:</abbr>
    11 4309-1209
</address>

<address>
    <strong>Dúvidas:</strong> <a href="mailto:Support@example.com">duvida@masterchef.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@masterchef.com</a>
</address>
