@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
                <img src="~/images/free_meal.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/fotolia_1024.jpg" alt="Chefe trabalhando" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Cozinha_Int.jpg" alt="Prato finalizado" class="img-responsive" />            
        </div>
        <div class="item">
            <img src="~/images/cutting-tomatoes-salad.jpg" alt="Microsoft Azure" class="img-responsive" />
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    
</div>

<div class="row">
    <div class="col-md-3">
        <h3>Tem uma receita que faz sucesso na sua casa?</h3>

            <p>Não perca tempo! Cadastre-a em nosso site para que outras pessoas possam conhecer seu prato, e quem sabe receber alguns elogios.</p>

    </div>
    <div class="col-md-3">
        <h3>Deseja inovar na cozinha mas precisa de ideias?</h3>
        <p>O seu sonho é inovar na cozinha mas não tem muita intimidade com os utensílios doméstios? Podemos te ajudar com a colaboração de pessoas
        que compartilham experiências aqui no site.</p>
    </div>
    <div class="col-md-3">
        <h3>Cansou de fazer sempre os mesmo pratos?</h3>
        <p>Relaxa!! Aqui você vai descobrir como existem pessoas que cozinham bem, e além disso, não têm problemas em dividir conhecimento e
        colaborar com aqueles que desejam inovar na culinária.</p>
    </div>
    <div class="col-md-3">
        <h3>Quer surpreender e mostrar o seu potencial?</h3>
        <p>Aqui temos receitas e dicas, cabe a você mostrar aonde pode chegar, desde que tenha coragem e muito estilo. Ah, e não se esqueça de
        colaborar com novidades para agregar conteúdo ao nosso site.</p>
    </div>
</div>
